{% extends 'base.html' %}

{% block content %}
    <div class="div-btn-left"></div>
    <form method="POST" class="post-form">{% csrf_token %}
		<div class="form-group">
            <input type="input"
                class="form-control" id="title" name="title" placeholder="Title">
		</div>	
        <div class="form-group">
			<textarea id="content" class="form-control" name="content"
					rows="15" placeholder="내 용"></textarea>
		</div>
		<div class="form-group">
            <input type="hidden"
                class="form-control" id="author" name="author" value="admin">
		</div>	
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}