{% extends 'base.html' %}

{% block content %}
    <div class="div-btn-left">
    {% if request.user == post.author %}
        <a href="{% url 'board_put' pk=post.idx %}" class="btn btn-primary">Update</a>
        <a href="{% url 'board_delete' pk=post.idx %}" class="btn btn-primary">Delete</a>
    {% endif %}
        <a href="{% url 'board_list' %}" class="btn btn-primary">List</a>
    </div>
    <div class="post-container">
        <div class="board-header">
            <span class="board-title">{{ post.title }}</span>
            <div class="board-author">{{ post.author.username }}</div>
            <div class="board-date">{{ post.create_date }}</div>
        </div>
        <hr>
        <div class="board-container">{{ post.content|linebreaksbr }}</div>
    </div>    
{% endblock %}